html{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    align-items: center;
    background-repeat: repeat;
}
    

.container{
    width: 550px;
    height: 670px;
    background-color: rgb(253, 198, 48);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 7px;
    box-shadow: 0 2px 5px 5px rgba(0,0,0,0.3);
}
h1{
    color: rgb(88, 43, 43);
    font-size: 2.5rem;      
    
}

button{
    font-size: 1.3rem;
    padding: 10px;
    margin: 5px;

    height: 80px;
    width: 80px;
    cursor: pointer;

    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px rgba(179, 144, 144, 0.3);
}
button:hover{
    filter: brightness(90%);
}

input{
    font-size: 1.3rem;
    width: 355px;
    height: 50px;
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 2px;
    margin-bottom: 5px;
    border-radius: 5px;
    box-shadow: 0 2px 2px 2px rgba(255,255,0,0.3);
}

.remove-one{
    color: blue;
}
.reset{
    color: red;

}
.reset:hover,.remove-one:hover{
    font-size: 1.5rem;
}

@media screen and (max-width:550px) {
    
    button{
        font-size: 1.1;
        height: 50px;
        width: 50px;
        box-shadow: none;
        
    }

    .container{
        width: 80vw;
        height: 70vh;
        box-shadow: none;
    }
    
    input{
        width: 236px!important;
        /* height: 10px; */
        font-size: 1rem;
        border: 2px solid white;
    }
    
}